<?xml version="1.0"?>
<packages>
    <package id="git.install" />
    <package id="GoogleChrome" />
    <package id="GoogleChrome.Canary" />
    <package id="Firefox" />
    <package id="nodejs.install" />
    <package id="StrawberryPerl" />
    <package id="ruby" />
    <package id="python" />
    <package id="php" />
    <package id="javaruntime" />
    <package id="7zip.install" />
    <package id="curl" />
    <package id="bind-toolsonly" />
    <package id="WinPcap" />
    <package id="wireshark" />
    <package id="fiddler" />
    <package id="TcpView" />
</packages>
